@import "./css/reset.css";
@import "./css/utility-classes.css";
@import "./css/content.css";
@import "./css/weather-info.css";
@import "./css/weather-details.css";
@import "./css/weather-forecast.css";

/* VARIABLES */
:root {
	--ff-body: "Karla", sans-serif;

	--font-size-200: 0.694rem;
	--font-size-300: 0.833rem;
	--font-size-400: 1rem;
	--font-size-500: 1.2rem;
	--font-size-600: 1.44rem;
	--font-size-700: 1.728rem;
	--font-size-800: 2.074rem;
	--font-size-900: 2.488rem;
	--font-size-1000: 2.986rem;

	--clr-dark: #242020;
	--clr-grey: #d8d8d8;
	--clr-light: #fff;
	--clr-red: #e03232;
	--clr-overlay: rgb(0, 0, 0, 0.5);

	--box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.8);

	--button-box-shadow-light: 0 0 0 2px rgba(255, 255, 255, 0.635);
	--button-box-shadow-dark: 0 0 0 2px rgba(0, 0, 0, 0.7);

	--border-radius: 8px;
	--border-radius-2: 50%;
	--border-radius-3: 50px;
}

/* GENERAL STYLES */
body {
	font-family: var(--ff-body);
	color: var(--clr-light);
	background: url("images/day-bg.jpg") no-repeat fixed center/cover;

	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: var(--font-size-1000);
}

h2 {
	font-size: var(--font-size-900);
}

h3 {
	font-size: var(--font-size-800);
}

h4 {
	font-size: var(--font-size-700);
}

button {
	display: inline-block;
	cursor: pointer;
	color: inherit;
	border: none;
	padding: 0.3em;
}

button:active {
	opacity: 0.8;
}

i {
	font-size: inherit;
	margin: 0 0.3rem;
}

/* JS CLASSES */
body.night {
	background-image: url("images/night-bg.jpg");
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
	#weather-forecast .forecast-wrapper {
		justify-self: start;
	}
}
@media only screen and (max-width: 580px) {
	#content {
		grid-template-areas:
			"info"
			"details"
			"forecast";
	}
}

/* ANIMATIONS */
@keyframes scale {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.3);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes scale-2 {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
